@{
    ViewData["Title"] = "Customer Settings";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
@using Microsoft.AspNetCore.Http;
<span class="d-none" id="userID" value="@Context.Session.GetInt32("userID")"></span>
<div class="col-lg-8 col-md-12 col-sm-12">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link flex-sm-fill border-bottom-blue text-marun-bold " id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#Details" type="button" role="tab" aria-controls="nav-home" aria-selected="true">My Details</button>
            <button class="nav-link flex-sm-fill" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#Address" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">My Address</button>
            <button class="nav-link flex-sm-fill" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#ChangePassword" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Change Password</button>
        </div>
    </nav>
    <div class="tab-content mt-3" id="nav-tabContent">
        <div class="tab-pane fade show active active-nav p-2" id="Details" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="row">
                <div class="alert alert-success alert-dismissible fade show d-none" id="alertUserData" role="alert">
                    Data update successfully.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="col-md-4">
                    <span class="font-bold"> Firstname</span>
                    <input type="text" placeholder="Firstname" id="txtFirstName" class="form-control" />
                    <span class="text-danger d-none" id="errFirstname"> Enter valid Firstname </span>
                </div>
                <div class="col-md-4">
                    <span class="font-bold"> Lastname</span>
                    <input type="text" class="form-control" id="txtLastName" placeholder="Lastname" />
                    <span class="text-danger d-none" id="errLastname"> Enter valid Lastname </span>
                </div>
                <div class="col-md-4">
                    <span class="font-bold"> E-mail address</span>
                    <input type="text" class="form-control" disabled id="txtEmail" />
                    <span class="text-danger d-none" id="errEmail"> Enter valid Email </span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4">
                    <span class="font-bold"> Mobile number</span>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">+49</div>
                        </div>
                        <input type="text" class="form-control" id="txtMobileNumber" placeholder="Mobile number">

                    </div>
                    <span class="text-danger d-none" id="errMobileNumber"> Enter valid Mobile Number </span>
                </div>
                <div class="col-md-5">
                    <span class="font-bold"> Date of birth</span>
                    <div class="row">
                        <div class="col-md-3">
                            <select class="form-select form-control ddCheck" id="ddDay">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </div>
                        <div class="col-md-5">
                            <select class="form-select form-control ddCheck" id="ddMonth">
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-select form-control ddCheck" id="ddYear">
                                <option value="2030">2030</option>
                                <option value="2029">2029</option>
                                <option value="2028">2028</option>
                                <option value="2027">2027</option>
                                <option value="2026">2026</option>
                                <option value="2025">2025</option>
                                <option value="2024">2024</option>
                                <option value="2023">2023</option>
                                <option value="2022">2022</option>
                                <option value="2021">2021</option>
                                <option value="2020">2020</option>
                                <option value="2019">2019</option>
                                <option value="2018">2018</option>
                                <option value="2017">2017</option>
                                <option value="2016">2016</option>
                                <option value="2015">2015</option>
                                <option value="2014">2014</option>
                                <option value="2013">2013</option>
                                <option value="2012">2012</option>
                                <option value="2011">2011</option>
                                <option value="2010">2010</option>
                                <option value="2009">2009</option>
                                <option value="2008">2008</option>
                                <option value="2007">2007</option>
                                <option value="2006">2006</option>
                                <option value="2005">2005</option>
                                <option value="2004">2004</option>
                                <option value="2003">2003</option>
                                <option value="2002">2002</option>
                                <option value="2001">2001</option>
                                <option value="2000">2000</option>
                                <option value="1999">1999</option>
                                <option value="1998">1998</option>
                                <option value="1997">1997</option>
                                <option value="1996">1996</option>
                                <option value="1995">1995</option>
                                <option value="1994">1994</option>
                                <option value="1993">1993</option>
                                <option value="1992">1992</option>
                                <option value="1991">1991</option>
                                <option value="1990">1990</option>
                                <option value="1989">1989</option>
                                <option value="1988">1988</option>
                                <option value="1987">1987</option>
                                <option value="1986">1986</option>
                                <option value="1985">1985</option>
                                <option value="1984">1984</option>
                                <option value="1983">1983</option>
                                <option value="1982">1982</option>
                                <option value="1981">1981</option>
                                <option value="1980">1980</option>
                                <option value="1979">1979</option>
                                <option value="1978">1978</option>
                                <option value="1977">1977</option>
                                <option value="1976">1976</option>
                                <option value="1975">1975</option>
                                <option value="1974">1974</option>
                                <option value="1973">1973</option>
                                <option value="1972">1972</option>
                                <option value="1971">1971</option>
                                <option value="1970">1970</option>
                                <option value="1969">1969</option>
                                <option value="1968">1968</option>
                                <option value="1967">1967</option>
                                <option value="1966">1966</option>
                                <option value="1965">1965</option>
                                <option value="1964">1964</option>
                                <option value="1963">1963</option>
                                <option value="1962">1962</option>
                                <option value="1961">1961</option>
                                <option value="1960">1960</option>
                                <option value="1959">1959</option>
                                <option value="1958">1958</option>
                                <option value="1957">1957</option>
                                <option value="1956">1956</option>
                                <option value="1955">1955</option>
                                <option value="1954">1954</option>
                                <option value="1953">1953</option>
                                <option value="1952">1952</option>
                                <option value="1951">1951</option>

                            </select>
                        </div>
                        <span class="text-danger d-none" id="errDOB">Select Valid Birth Date</span>
                    </div>
                </div>

            </div>
            <hr />
            <div class="row">
                <div class="col-md-3">
                    <span class="font-bold">My preferred language</span>
                    <select class="form-select form-control" id="ddLanguage">
                        <option value="1"> English</option>
                        <option value="2"> Dutch</option>
                    </select>
                    <span class="text-danger d-none" id="errddLanguage">Select Valid Language </span>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-2">
                    <input type="button" value="Save" class="btn btn-success text-white rounded-pill " disabled id="btnSaveUserData" />
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="Address" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="row p-3">
                <div class="col-mb-12 table-responsive">
                    <table class="table" id="tblAddress">
                        <thead>
                            <tr class="gray-bachgroud">
                                <th class="width-80"> Address </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row p-3">
                <div class="col-md-2">
                    <input type="button" class="btn rounded-pill text-white btn-success" value="Add New Address" id="btnAddNewAddress" />
                </div>
            </div>
        </div>
        <div class="tab-pane   fade " id="ChangePassword" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="alert d-none" role="alert" id="alertChangePassword">

            </div>
            <div class="row m-2">
                <div class="col-md-4">
                    <span class="font-bold"> Old Password</span>
                    <input type="password" class="form-control" placeholder="Current Password" id="txtCurrentPassword" />
                    <span class="text-danger d-none error" id="errtxtCurrentPassword"></span>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-md-4">
                    <span class="font-bold"> New Password</span>
                    <input type="password" class="form-control" placeholder="Password" id="txtNewPassword" />
                    <span class="text-danger d-none error" id="errtxtNewPassword">  </span>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-md-4">
                    <span class="font-bold"> Confirm Password</span>
                    <input type="password" class="form-control" placeholder="Confirm Password" id="txtConfirmPassword" />
                    <span class="text-danger  error" id="errtxtConfirmPassword"> </span><br />
                    <input type="button" value="Save" class="btn rounded-pill text-white custom-active-dark-green" disabled id="btnSavePassword" />
                </div>

            </div>

        </div>
    </div>
</div>

<!--#region Edit Modal -->
<div class="modal fade" id="EditAddress" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddressModelTital">Edit Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <input type="hidden" value="" id="txtModelAddressId" />
                    <div class="col-md-6">
                        <span class="font-bold"> Street Name </span>
                        <input class="form-control" type="text" placeholder="Street Name" id="txtModelStreetName" />
                        <span class="text-danger d-none" id="errtxtModelStreetName">Enter Street Name</span>
                    </div>
                    <div class="col-md-6">
                        <span class="font-bold"> House Number </span>
                        <input class="form-control" type="text" placeholder="House Name" id="txtModelHouseNumber" />
                        <span class="text-danger d-none" id="errtxtModelHouseNumber"> Enter House Name</span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <span class="font-bold"> Pincode </span>
                        <input class="form-control" type="number" placeholder="Pincode" id="txtModelPincode" />
                        <span class="text-danger d-none" id="errtxtModelPincode"> Enter  Pincode</span>
                    </div>
                    <div class="col-md-6">
                        <span class="font-bold"> City</span>
                        <select class="form-select form-control" id="ddModelCity" asp-items="@ViewBag.city"></select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <span class="font-bold">Mobile Number</span>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">+49</div>
                            </div>
                            <input type="text" class="form-control" id="txtModelMobileNumber" placeholder="Mobile number">
                            <span class="text-danger d-none" id="errtxtModelMobileNumber"> Enter mobile number</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn font-white form-control  rounded-pill marun" disabled value="Save" id="btnModelSave">

            </div>


        </div>
    </div>
</div>
<!--#endregion Edit Modal -->
<!--#region Delete Modal -->
<div class="modal fade" id="DeleteModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <div class="modal-body">
                <input type="hidden" value="" id="txtDeleteModelAddressId" />
                <div>
                    Are you sure you want to delete this address?
                </div>
                <div class="row justify-content-center mt-4">
                    <div class="col-md-3">
                        <input type="submit" class="btn btn-outline-success font-white form-control rounded-pill marun" value="Delete" id="btnDeleteModel">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--#endregion Delete Modal -->

<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>

<script>
        /*Edit Button - Fill Address*/
        $(document).on('click', '.edit-link', function (e) {
            $("#txtModelAddressId").val($(this).val());
            $.ajax({
                  type: "POST",
                url: "@Url.Action("GetAddressById")",
                data: { "AddressID": $(this).val() },
                  success: function (responce) {
                      var obj = JSON.parse(responce);
                      $("#txtModelStreetName").val(obj.AddressLine1);
                      $("#txtModelHouseNumber").val(obj.AddressLine2);
                      $("#txtModelPincode").val(obj.ZipCode);
                      $("#txtModelMobileNumber").val(obj.Mobile);
                      $("#ddModelCity").val(obj.CityId);

                   },
                  failure: function (response) {
                        alert("failure");
                  },
                  error: function (response) {
                        alert("Something went Worng");
                  }

            });
            $("#AddressModelTital").text("Edit Address");
            $("#EditAddress").modal('show');

        });

        /*Date of birth Validation*/
        $(document).on('click', '.ddCheck', function (e) {
            var day = $("#ddDay").val();
            var month = $("#ddMonth").val();
            var year = $("#ddYear").val();
            if (day == "" || month == "" || year == "" || day == null || month == null || year == null) {
                $("#errDOB").show();
                $("#btnModelSave").attr('disabled', 'disabled');
            }
            else {
                $("#errDOB").hide();
                $("#btnSaveUserData").removeAttr("disabled");
            }
        });

        /*Open Delete Address model */
        $(document).on('click', '.delete-link', function (e) {
            $("#txtDeleteModelAddressId").val($(this).val());
            $("#DeleteModel").modal('show');
        });

    $(document).ready(function () {

            fillAddress();
            fillUserData();

            $('#nav-tab button').on('click', function (e) {
                $(this).tab('show');
                $(".nav-tabs button").removeClass("border-bottom-blue text-marun-bold");
                $(this).addClass(" border-bottom-blue text-marun-bold");
                $(".tab-content .tab-pane").addClass("active-nav");
            })

            /*  Save a user data on computer  button click*/
            $("#btnSaveUserData").on('click', function () {
                var languageId = $("#ddLanguage").val();
                if (languageId == null || languageId < 1) {
                    $("#btnSaveUserData").attr('disabled', 'disabled');
                    $("#errddLanguage").show();
                    return;
                }
                var day = $("#ddDay").val();
                var month = $("#ddMonth").val();
                var year = $("#ddYear").val();
                if (day == null || month == null || year == null) {
                    $("#errDOB").show();
                    $("#btnSaveUserData").attr('disabled', 'disabled');
                    return;
                }
                if ($('#Details').find('.error').length > 0) {
                    $("#btnSaveUserData").attr('disabled', 'disabled');

                } else {
                    var DOB = day + '/' + month + '/' + year;
                    var FirstName = $("#txtFirstName").val();
                    var LastName = $("#txtLastName").val();
                    var MobileNo = $("#txtMobileNumber").val();
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("UpdateUserData")",
                        data: { "FirstName": FirstName, "LastName": LastName, "DOB": DOB, "MobileNumber": MobileNo, "userID": $("#userID").val(), "LanguageId": languageId },
                        success: function (responce) {
                            if (responce) {
                                $("#alertUserData").removeClass("d-none");
                                $("#alertUserData").show().fadeOut(5000);
                                fillUserData();
                            }
                            else {
                                alert("Please try again");
                            }
                            $(".spinner").hide();

                        },
                        failure: function (response) {
                            alert("failure");
                        },
                        error: function (response) {
                            alert("Something went Worng");
                        }
                     });
                }
            });
            /* Model Save Button Click */
            $("#btnModelSave").on('click', function () {
                if ($("#txtModelAddressId").val() == "") {
                    addNewAddress();
                    return;
                }
                var userID = $("#userID").val();
                var AddressLine1 = $("#txtModelStreetName").val();
                var AddressLine2 = $("#txtModelHouseNumber").val();
                var CityId = $("#ddModelCity").val();
                var Pincode = $("#txtModelPincode").val();
                var Mobilenumber = $("#txtModelMobileNumber").val();

                var address = {};
                address.AddressId = parseInt($("#txtModelAddressId").val());
                address.userID = parseInt(userID);
                address.AddressLine1 = AddressLine1;
                address.AddressLine2 = AddressLine2;
                address.CityId = parseInt(CityId);
                address.PostalCode = Pincode;
                address.Mobile = Mobilenumber;
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateAddress")",
                    data:JSON.stringify(address),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (responce) {
                        if (responce) {
                            $("#tblAddress tbody").html("");
                            fillAddress();
                            $("#EditAddress").modal('hide');
                        }

                    },
                    failure: function (response) {
                        alert("failure");
                    },
                    error: function (response) {
                        alert("Something went Worng");
                    }

                });


            });

            /*Add New Address Button Click Event*/
            $("#btnAddNewAddress").on('click', function () {
                $("#AddressModelTital").text("Add New Address");
                $("#EditAddress").modal("show");
                $("#txtModelAddressId").val("");
                $("#txtModelStreetName").val("");
                $("#txtModelHouseNumber").val("");
                $("#txtModelPincode").val("");
                $("#txtModelMobileNumber").val("");
                $("#btnModelSave").attr("disabled", "disabled");
            });

             /* Delete Model  Button Click */
        $("#btnDeleteModel").on('click', function () {
            alert($("#txtDeleteModelAddressId").val());
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("DeleteAddress")",
                    data: { "AddressId": $("#txtDeleteModelAddressId").val() },
                    success: function (responce) {
                        if (responce) {
                            $("#tblAddress tbody").html("");
                            fillAddress();
                            $("#DeleteModel").modal('hide');
                        }

                    },
                    failure: function (response) {
                        alert("failure");
                    },
                    error: function (response) {
                        alert("Something went Rong");
                    }

                });


            });

           /* Model Validation */
            $("#txtModelStreetName").change(function () {
                var AddressLine1 = $("#txtModelStreetName").val();
                if (AddressLine1 == null || AddressLine1 == "") {
                    $("#errtxtModelStreetName").show();
                    $("#btnModelSave").attr('disabled', 'disabled');
                }
                else {
                    $("#errtxtModelStreetName").hide();
                    $("#btnModelSave").removeAttr("disabled");

                }
            });

            $("#txtModelHouseNumber").change(function () {
                var AddressLine2 = $("#txtModelHouseNumber").val();
                if (AddressLine2 == null || AddressLine2 == "") {
                    $("#errtxtModelHouseNumber").show();
                    $("#btnModelSave").attr('disabled', 'disabled');
                }
                else {
                    $("#errtxtModelHouseNumber").hide();
                    $("#btnModelSave").removeAttr("disabled");

                }
            });

            $("#txtModelPincode").change(function () {
                var pincode = $("#txtModelPincode").val();
                if (pincode == null || pincode == "" || pincode.length != 6) {
                    $("#errtxtModelPincode").show();
                    $("#btnModelSave").attr('disabled', 'disabled');
                }
                else {
                    $("#errtxtModelPincode").hide();
                    $("#btnModelSave").removeAttr("disabled");

                }
            });

            $("#txtModelMobileNumber").change(function () {
                var number = $("#txtModelMobileNumber").val();
                if (number == null || number == "" || number.length != 10) {
                    $("#errtxtModelMobileNumber").show();
                    $("#btnModelSave").attr('disabled', 'disabled');
                }
                else {
                    $("#errtxtModelMobileNumber").hide();
                    $("#btnModelSave").removeAttr("disabled");

                }
            });

            /*End of model Validation*/


            /*   User Data Validation*/
            $("#txtFirstName").change(function () {
                var fname = $("#txtFirstName").val();
                if (fname == null || fname == "") {
                    $("#errFirstname").show();
                    $("#errFirstname").addClass("error");
                    $("#btnSaveUserData").attr('disabled', 'disabled');
                }
                else {
                    $("#errFirstname").hide();
                    $("#errFirstname").removeClass("error");
                    $("#btnSaveUserData").removeAttr("disabled");

                }
            });

            $("#txtLastName").change(function () {
                var lname = $("#txtLastName").val();
                if (lname == null || lname == "") {
                    $("#errLastname").show();
                    $("#errLastname").addClass("error");
                    $("#btnSaveUserData").attr('disabled', 'disabled');
                }
                else {
                    $("#errLastname").hide();
                    $("#errLastname").removeClass("error");
                    $("#btnSaveUserData").removeAttr("disabled");

                }
            });

            $("#txtMobileNumber").change(function () {
                var lname = $("#txtMobileNumber").val();
                if (lname == null || lname == "" || lname.length != 10) {
                    $("#errMobileNumber").show();
                    $("#errMobileNumber").addClass("error");
                    $("#btnSaveUserData").attr('disabled', 'disabled');
                }
                else {
                    $("#errMobileNumber").hide();
                    $("#errMobileNumber").removeClass("error");
                    $("#btnSaveUserData").removeAttr("disabled");

                }
            });

            $("#ddLanguage").change(function () {
                var lname = $("#ddLanguage").val();
                if (lname == null || lname == "" || lname.length < 1) {
                    $("#errddLanguage").show();
                    $("#errddLanguage").addClass("error");
                    $("#btnSaveUserData").attr('disabled', 'disabled');
                }
                else {
                    $("#errddLanguage").hide();
                    $("#errddLanguage").removeClass("error");
                    $("#btnSaveUserData").removeAttr("disabled");

                }
            });
            /*End of Data Validation*/

            /*Change Password Validation*/

            $('#txtCurrentPassword').on('input', function () {
                    var Password = $("#txtCurrentPassword").val();
                    var uppercasePassword = /(?=.*?[A-Z])/;
                    var lowercasePassword = /(?=.*?[a-z])/;
                    var digitPassword = /(?=.*?[0-9])/;
                    var spacesPassword = /^$|\s+/;
                    var symbolPassword = /(?=.?[#?!@@$%^&-])/;
                var minEightPassword = /.{8,}/;
                if (Password.length == 0) {
                    $('#errtxtCurrentPassword').addClass('error').text('Password is required').show();
                    $("#btnSavePassword").attr('disabled', 'disabled');

                }
                else if (Password.trim().length == 0) {
                    $('#errtxtCurrentPassword').addClass('error').text("Password is required without space").show();
                    $("#btnSavePassword").attr('disabled', 'disabled');

                }
                else if (!uppercasePassword.test(Password)) {
                    $('#errtxtCurrentPassword').addClass('error').text('At least one Uppercase').show();
                    $("#btnSavePassword").attr('disabled', 'disabled');

                }
                else if (!lowercasePassword.test(Password)) {
                    $('#errtxtCurrentPassword').addClass('error').text('At least one Lowercase').show();
                    $("#btnSavePassword").attr('disabled', 'disabled');

                }
                else if (!digitPassword.test(Password)) {
                    $('#errtxtCurrentPassword').addClass('error').text('At least one digit').show();
                    $("#btnSavePassword").attr('disabled', 'disabled');

                }
                else if (!symbolPassword.test(Password)) {
                    $('#errtxtCurrentPassword').addClass('error').text('At least one special character').show();
                    $("#btnSavePassword").attr('disabled', 'disabled');
                }
                else if (spacesPassword.test(Password)) {
                    $('#errtxtCurrentPassword').addClass('error').text('Whitespaces are not allowed').show();
                    $("#btnSavePassword").attr('disabled', 'disabled');

                }
                else if (!minEightPassword.test(Password)) {
                    $('#errtxtCurrentPassword').addClass('error').text('Minimum 8 length password').show();
                    $("#btnSavePassword").attr('disabled', 'disabled');

                }
                else
                {
                    $("#btnSavePassword").removeAttr('disabled');
                    $('#errtxtCurrentPassword').removeClass('error').hide();
                }


            });
            $('#txtNewPassword').on('input', function () {
                var Password = $("#txtNewPassword").val();
                var uppercasePassword = /(?=.*?[A-Z])/;
                var lowercasePassword = /(?=.*?[a-z])/;
                var digitPassword = /(?=.*?[0-9])/;
                var spacesPassword = /^$|\s+/;
                var symbolPassword = /(?=.?[#?!@@$%^&-])/;
                var minEightPassword = /.{8,}/;
                if (Password.length == 0) {
                    $('#errtxtNewPassword').addClass('error').text('Password is required').show();
                    $("#btnSavePassword").attr('disabled', 'disabled');

                } else if (Password.trim().length == 0) {
                    $('#errtxtNewPassword').addClass('error').text("Password is required without space").show();
                    $("#btnSavePassword").attr('disabled', 'disabled');

                } else if (!uppercasePassword.test(Password)) {
                    $('#errtxtNewPassword').addClass('error').text('At least one Uppercase').show();
                    $("#btnSavePassword").attr('disabled', 'disabled');

                } else if (!lowercasePassword.test(Password)) {
                    $('#errtxtNewPassword').addClass('error').text('At least one Lowercase').show();
                    $("#btnSavePassword").attr('disabled', 'disabled');

                } else if (!digitPassword.test(Password)) {
                    $('#errtxtNewPassword').addClass('error').text('At least one digit').show();
                    $("#btnSavePassword").attr('disabled', 'disabled');

                } else if (!symbolPassword.test(Password)) {
                    $('#errtxtNewPassword').addClass('error').text('At least one special character').show();
                    $("#btnSavePassword").attr('disabled', 'disabled');
                } else if (spacesPassword.test(Password)) {
                    $('#errtxtNewPassword').addClass('error').text('Whitespaces are not allowed').show();
                    $("#btnSavePassword").attr('disabled', 'disabled');

                } else if (!minEightPassword.test(Password)) {
                    $('#errtxtNewPassword').addClass('error').text('Minimum 8 length password').show();
                    $("#btnSavePassword").attr('disabled', 'disabled');

                }
                else {
                    $("#btnSavePassword").removeAttr('disabled');
                    $('#errtxtNewPassword').removeClass('error').hide();
                }


            });

            $('#txtConfirmPassword').on('input', function () {
                var Password = $("#txtConfirmPassword").val();
                if (Password != $("#txtNewPassword").val()) {
                    $('#errtxtConfirmPassword').addClass('error').text('Confirm does  not match with your new password').show();
                    $("#btnSavePassword").attr('disabled', 'disabled');
                }
                else {
                    $("#btnSavePassword").removeAttr('disabled');
                    $('#errtxtConfirmPassword').removeClass('error').hide();
                }



            });

            /*End Change Password Validation*/

            /*Save Password */
               $("#btnSavePassword").on("click", function () {
                if ($('#ChangePassword').find('.error').length > 0) {
                    $('#btnSavePassword').attr('disabled','disabled');
                    return;
                } else {

                     $.ajax({
                          type: "POST",
                         url: "@Url.Action("ResetPassword")",
                         data: { "oldPassword": $("#txtCurrentPassword").val(), "newPassword": $("#txtNewPassword").val() },
                         success: function (responce) {
                             if (responce) {
                                 $("#alertChangePassword").removeClass("d-none alert-danger").addClass("alert-success").text("Change Password Successfully.").show().fadeOut(5000);
                                 $("#txtCurrentPassword").val("");
                                 $("#txtNewPassword").val("");
                                 $("#txtConfirmPassword").val("");
                             }
                             else {
                                 $("#alertChangePassword").removeClass("d-none alert-success").addClass("alert-danger").text("Old password does't match .").show().fadeOut(8000);
                                 $("#txtCurrentPassword").val("");
                                 $("#txtNewPassword").val("");
                                 $("#txtConfirmPassword").val("");
                             }
                            },
                            failure: function (response) {
                                alert("failure");
                            },
                            error: function (response) {
                                alert("Something went Wrong because of " + response);
                            }

                      });

                }
            });

       });

       /* Fill all Address in the list*/
        function fillAddress() {
            $.ajax({
                  type: "POST",
                  url: "@Url.Action("GetAddress")",
                  data: { "userID": $("#userID").val() },
                success: function (responce) {
                    console.log(responce);
                      var obj = JSON.parse(responce);
                      for (var i = 0; i < obj.length; i++) {

                          $("#tblAddress").append('<tr> <td >  <span class="font-bold"> Address : </span>  ' + obj[i].AddressLine1 + ' , ' + obj[i].AddressLine2 + ' , ' + obj[i].PostalCode + ' <br />Phone number :   ' + obj[i].Mobile + ' </td> <td> <button  class="btn btn-outline-info edit-link" value ="' + obj[i].AddressId + '" >✍️</button>  <button class="btn btn-outline-danger delete-link" value = "' + obj[i].AddressId + '"  > ❌</button>  </td></tr>');

                      }
                    },
                    failure: function (response) {
                        alert("failure");
                    },
                    error: function (response) {
                        alert("Something went Wrong because of " + response);
                    }

              });
        }

       /* Add new Address in the list*/
        function addNewAddress() {
                var userID = $("#userID").val();
                var AddressLine1 = $("#txtModelStreetName").val();
                var AddressLine2 = $("#txtModelHouseNumber").val();
                var CityId = $("#ddModelCity").val();
                var Pincode = $("#txtModelPincode").val();
                var Mobilenumber = $("#txtModelMobileNumber").val();
                if (AddressLine1 == null || AddressLine2 == null || CityId == null || Pincode == null || Mobilenumber == null || Pincode.length != 6 || Mobilenumber.length != 10) {
                    $("#btnModelSave").attr('disabled', 'disabled');
                }

                var address = {};
                address.userID = parseInt(userID);
                address.AddressLine1 = AddressLine1;
                address.AddressLine2 = AddressLine2;
                address.CityId = parseInt(CityId);
                address.PostalCode = Pincode;
                address.Mobile = Mobilenumber;
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddNewAddress")",
                    data:JSON.stringify(address),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (responce) {
                        if (responce) {
                            $("#tblAddress tbody").html("");
                            fillAddress();
                            $("#EditAddress").modal('hide');
                        }

                    },
                    failure: function (response) {
                        alert("failure");
                    },
                    error: function (response) {
                        alert("Something went Worng");
                    }

                });
        }

       /* Fill User Data in Form*/
         function fillUserData(){
             $.ajax({
                  type: "POST",
                  url: "@Url.Action("GetUserById")",
                  data: { "userID": $("#userID").val() },
                 success: function (responce) {
                     if (!responce) {
                         alert("somthig went worng");
                     }
                     var obj = JSON.parse(responce);
                     $("#txtFirstName").val(obj.firstName);
                     $("#txtLastName").val(obj.lastName);
                     $("#txtMobileNumber").val(obj.mobileNumber);
                     $("#txtEmail").val(obj.email);
                     $("#ddMonth").val(obj.month);
                     $("#ddYear").val(obj.year);
                     $("#ddDay").val(obj.day);
                     $("#ddLanguage").val(obj.language);
                    },
                    failure: function (response) {
                        alert("failure");
                    },
                    error: function (response) {
                        alert("Something went Wrong because of " + response);
                    }

              });
        }

</script>
