@{
    ViewData["Title"] = "Book My Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? userID = Context.Session.GetInt32("userID");

}
@model IEnumerable<Helperland.Models.ViewModel.UserAddressModel>
@using Microsoft.AspNetCore.Http
<link href="~/css/BookMyService.css" rel="stylesheet" />

<div class="row mt-5"></div>
<div class="container">
    <div class="row text-center mt-5">
        <h3>Setup Your Cleaning Service</h3>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <h1> <img src="~/img/separator-star.png" alt=""></h1>
        </div>
    </div>
</div>

<section class="mt-5">
    <div class="custom-mn row justify-content-center">

        <div class="offset-1 col-7">
            <div class="custom-mndt w-100">
                <ul class="nav nav-fill nav-tabs nav-pills justify-content-center mb-3" id="myTab"
                    role="tablist">
                    <li class="nav-item NavList" role="presentation" onclick="first()">
                        <a class="nav-link active" id="setupServiceTabController" data-bs-toggle="tab"
                           data-bs-target="#setupServiceTab" type="button" aria-controls="setupService"
                           aria-selected="true">
                            <img src="~/img/setup-service.png" alt="" class="nav_image">
                            <span class="custom-tldt">
                                <span class="custom-bgdt"></span>
                                <span class="nav_title">Setup Service</span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item NavList" role="presentation" onclick="second()">
                        <a class="nav-link" id="schedulePlanTabController" data-bs-toggle="tab"
                           data-bs-target="#schedulePlanTab" type="button" aria-controls="schedulePlan"
                           aria-selected="false">
                            <!-- data-bs-target="#schedulePlanTab" -->
                            <img src="~/img/schedule.png" alt="" id="ig2">
                            <span class="custom-tldt">
                                <span class="custom-bgdt"></span>
                                <span class="ms-2 nav_title">Schedule & Plan</span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item NavList" role="presentation">
                        <a class="nav-link" id="yourDetailsTabController" data-bs-toggle="tab"
                           data-bs-target="#yourDetailsTab" type="button" aria-controls="yourDetails"
                           aria-selected="false">
                            <img src="~/img/details.png" alt="">
                            <span class="custom-tldt">
                                <span class="custom-bgdt"></span>
                                <span class="ms-2 nav_title">Your Details</span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item NavList" role="presentation">
                        <a class="nav-link" id="makePaymentTabController" data-bs-toggle="tab"
                           data-bs-target="#makePaymentTab" type="button" aria-controls="makePayment"
                           aria-selected="false">
                            <img src="~/img/payment.png" alt="">
                            <span class="custom-tldt">
                                <span class="custom-bgdt"></span>
                                <span class="ms-2 nav_title">Make Payment</span>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content mt-4" id="myTabContent">
                    <!-- ------- setup services ---------  -->
                    <div class="tab-pane fade show mt-3 custom-clscn active" id="setupServiceTab"
                         role="tabpanel" aria-labelledby="setupService"
                            <p class="fw-bold mb-1">Enter Your Postal Code</p>
                            <div class="d-flex custom-hyper custom-pstcd">
                                <input type="text" class="form-control me-2" id="txtPostalCode" placeholder="Postal code"
                                       name="postalcode">

                                <button class="nav-link text-light custom-gnbtn rounded-pill form-control"
                                        type="button" id="btnCheckPostalCode">
                                    Check Availability
                                </button>
                            </div>
                            <div id="errMsgPincode" class="text-danger"></div>
                            <div class="d-flex ">
                                <img src="~/img/undraw_Current_location_re_j130 (1).png" alt="Alternate Text" class="img-fluid"/>
                            </div>

                    </div>
                    <!-- ------------- Schedule and plan ----------- -->
                    <div class="tab-pane fade needs-validation " role="tabpanel" id="schedulePlanTab"
                         aria-labelledby="schedulePlan">
                        <div class="row custom-borbot pb-3 custom-clscn">
                            <div class="col-md-6">
                                <p class="fw-bold mb-1">When do you need the cleaner?</p>
                                <div>
                                    <input type="date" name="servicedate" required
                                           class="custom-hyper custom-padin custom-borlft custom-clscn mb-1"
                                           id="datepicker" min="2022-02-28">
                                    <select name="servicetime" id="dropdownTime"
                                            class="custom-hyper custom-padin custom-borlft mb-1 custom-clscn">
                                        <option value="8:00">8:00</option>
                                        <option value="8:30">8:30</option>
                                        <option value="9:00">9:00</option>
                                        <option value="9:30">9:30</option>
                                        <option value="10:00">10:00</option>
                                        <option value="10:30">10:30</option>
                                    </select>
                                </div>
                                <div class="text-danger" id="errMsgSelectDate">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p class="fw-bold mb-1">How long do you need your cleaner to stay?</p>
                                <select name="servicetime" id="dropdownHours"
                                        class="custom-hyper custom-padin custom-borlft mb-1 custom-clscn">
                                    <option value="3hrs">3 Hrs</option>
                                    <option value="3.5hrs">3.5 Hrs</option>
                                    <option value="4hrs">4 Hrs</option>
                                    <option value="4.5hrs">4.5 Hrs</option>
                                    <option value="5hrs">5 Hrs</option>
                                    <option value="5.5hrs">5.5 Hrs</option>
                                </select>
                            </div>
                        </div>
                        <div><label class="mb-2 mt-3 fw-bold">Extra Services</label></div>
                        <div class="mt-5 mb-5 custom-clscn d-flex align-items-center mt-3 mb-3 justify-content-center ">

                            <div class="btn-group custom-avtgp" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <div class="d-flex flex-column align-items-center justify-content-between  custom-lbldt">
                                    <label class="btn custom-btnpm custom-avtdt" for="cabinet">
                                        <input type="checkbox" name="cabinet" id="cabinet" value="cabinet">
                                        <div class="tog">
                                            <div class="custom-imdt custom-rounded-circle">

                                                <img src="~/img/3.png">
                                                <img src="~/img/3-green.png" style="display:none;">

                                            </div>
                                        </div>
                                    </label>
                                    <span class="text-center">Clean cabinet interiors</span>
                                </div>

                                <div class="d-flex flex-column align-items-center justify-content-center  custom-lbldt ">
                                    <label class="btn custom-btnpm custom-avtdt" for="refrigerator">
                                        <input type="checkbox" name="refrigerator" id="refrigerator" value="refrigerator">
                                        <div class="tog">
                                            <div class="custom-imdt custom-rounded-circle">

                                                <img src="~/img/5.png">
                                                <img src="~/img/5-green.png" style="display:none;">

                                            </div>
                                        </div>
                                    </label>
                                    <span class="text-center">Cleaning the refrigerator</span>
                                </div>
                                <div class="d-flex flex-column align-items-center  custom-lbldt">
                                    <label class="btn custom-btnpm custom-avtdt" for="oven">
                                        <input type="checkbox" name="oven" id="oven" value="oven">
                                        <div class="tog">
                                            <div class="custom-imdt custom-rounded-circle">

                                                <img src="~/img/4.png" style="margin-top: 25%;">
                                                <img src="~/img/4-green.png"
                                                     style="display:none; margin-top: 25%;">

                                            </div>
                                        </div>
                                    </label>
                                    <span class="text-center">Cleaning the oven</span>
                                </div>
                                <div class="d-flex flex-column align-items-center  custom-lbldt">
                                    <label class="btn custom-btnpm custom-avtdt" for="laundry">
                                        <input type="checkbox" name="laundry" id="laundry" value="laundry">
                                        <div class="tog">
                                            <div class="custom-imdt custom-rounded-circle">

                                                <img class="" src="~/img/2.png" style="margin: auto;">
                                                <img src="~/img/2-green.png"
                                                     style="display:none; margin: auto;">

                                            </div>
                                        </div>
                                    </label>
                                    <span class="text-center">Wash and dry laundry</span>
                                </div>
                                <div class="d-flex flex-column align-items-center custom-lbldt ">
                                    <label class="btn custom-btnpm custom-avtdt" for="windows">
                                        <input type="checkbox" name="windows" id="windows" value="windows">
                                        <div class="tog">
                                            <div class="custom-imdt custom-rounded-circle">

                                                <img src="~/img/1.png">
                                                <img src="~/img/1-green.png" style="display:none;">

                                            </div>
                                        </div>
                                    </label>
                                    <span class="text-center">Clean windows</span>
                                </div>

                            </div>
                        </div>
                        <div class="d-flex flex-column py-4">
                            <label for="comments" class="custom-clscn fw-bold mb-3">Comments</label>
                            <textarea name="commnets" id="txtAreaComments" maxlength="500" placeholder="Comments"
                                      rows="3" class="custom-padin"></textarea>
                        </div>
                        <div class="d-flex align-items-center custom-borbot pb-4">
                            <input type="checkbox" name="pets" id="chkbxPets" value="pets">
                            <label for="pets" class="ms-2"> 🐶 I have pets at home.</label>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" id="btnScheduleAndPlan" class="custom-gnbtn1 my-2 text-light rounded-pill">
                                Continue
                            </button>
                        </div>
                    </div>
                    <!-- ----------- your details ----------- -->
                    <div class="tab-pane fade" role="tabpanel" id="yourDetailsTab"
                         aria-labelledby="yourDetails">

                        <p class="fw-bold">
                            Enter your contact details, so we can serve you in better way!
                        </p>

                        <p class="font-weight-bold text-danger" id="errAddressNotSelected"></p>
                        <ul class="custom-ya p-0">
                            <div class="radioButtons" id="showAddress"></div>
                        </ul>
                        <input type="button" class="btn custom-nadbtn px-4 mt-3 rounded-pill fw-bolder"
                               value="+ Add New Address" data-bs-toggle="collapse" href="#newAddressCollapse"
                               role="button" aria-expanded="false" aria-controls="newAddressCollapse">
                        <hr class="mt-4 mb-3">

                        <div class="my-3 collapse multi-collapse custom-nwad" id="newAddressCollapse">

                            <div class="row newAddress_form">
                                <div class="col-sm-6 mb-4">
                                    <div class="form-group d-flex flex-column">
                                        <label for="streetname">Street Name</label>
                                        <input type="text" placeholder="Street Name" name="streetname" id="txtAddAddressLine1"
                                               class="custom-borlft custom-hyper custom-padin w-100">
                                        <span id="errtxtAddressLine1" class="text-danger"> </span>
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <div class="form-group d-flex flex-column">
                                        <label for="housenumber">House number</label>
                                        <input type="text" placeholder="House Number" name="housenumber" id="txtAddAddressLine2"
                                               class="custom-borlft custom-hyper custom-padin w-100">
                                        <span id="errtxtAddressLine2" class="text-danger"> </span>
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <div class="form-group d-flex flex-column">
                                        <label for="postalcode">Postal Code</label>
                                        <input type="text" disabled id="txtAddressPostalCode"
                                               class="custom-borlft custom-hyper custom-padin w-100" value="360001">
                                        
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group d-flex flex-column">
                                        <label for="city">City</label>
                                        <div class="d-inline-block">
                                            <select id="dropdownCityList" asp-items="@ViewBag.city" class="form-control form-select">
                                                <option value="-1">- Select City -</option>
                                            </select>
                                            <span id="errSelectCity" class="text-danger"> </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-group d-flex flex-column">
                                        <label for="phonenumber"> Phone Number</label>
                                        <div class="d-flex">
                                            <input type="text" name="phonecode"
                                                   class="custom-borlft custom-hyper custom-padin" value="+49"
                                                   disabled style="max-width: 55px;">
                                            <input type="text" placeholder="Phone Number" name="phonenumber" id="txtPhoneNumber"
                                                   class="custom-borlft minheight46 custom-padin">
                                            <span class="text-danger" id="errtxtPhoneNumber"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button"
                                    class="custom-gnbtn rounded-pill custom-borlft text-light px-3 custom-padin" id="btnAddNewAddress">
                                Save
                            </button>
                            <a role="button" class="btn border custom-hyper custom-padin rounded-pill"
                               data-bs-toggle="collapse" href="#newAddressCollapse" aria-expanded="false"
                               aria-controls="newAddressCollapse">
                                Cancel
                            </a>

                        </div>
                        <div id="favouriteTable my-3">
                            <h4 class="border-bottom pb-2">Your favourite service providers.</h4>
                            <p>You can choose your favourite service provider from the below list.</p>
                            <div class="custom-fvp">
                                <div class="custom-fvpdt col-sm-12 w-100 d-flex align-items-center justify-content-center flex-column">
                                    <div class="spProfile mb-3 rounded-circle d-flex align-items-center justify-content-center">
                                        <img src="~/img/undraw_profile_pic_ic5t.png" style="width:70px;">
                                    </div>
                                    <p class="mb-3">First</p>
                                    <button class="btn custom-slctbtn rounded-pill">Select</button>
                                </div>
                                <div class="custom-fvpdt col-sm-12 w-100 d-flex align-items-center justify-content-center flex-column">
                                    <div class="spProfile mb-3 rounded-circle d-flex align-items-center justify-content-center">
                                        <img src="~/img/undraw_profile_pic_ic5t.png" style="width:70px;">
                                    </div>
                                    <p class="mb-3">Second</p>
                                    <button class="btn custom-slctbtn rounded-pill">Select</button>
                                </div>
                                <div class="custom-fvpdt col-sm-12 w-100 d-flex align-items-center justify-content-center flex-column">
                                    <div class="spProfile mb-3 rounded-circle d-flex align-items-center justify-content-center">
                                        <img src="~/img/undraw_profile_pic_ic5t.png" style="width:70px;">
                                    </div>
                                    <p class="mb-3">Third</p>
                                    <button class="btn custom-slctbtn rounded-pill">Select</button>
                                </div>
                                <div class="custom-fvpdt col-sm-12 w-100 d-flex align-items-center justify-content-center flex-column">
                                    <div class="spProfile mb-3 rounded-circle d-flex align-items-center justify-content-center">
                                        <img src="~/img/undraw_profile_pic_ic5t.png" style="width:70px;">
                                    </div>
                                    <p class="mb-3">Fourth</p>
                                    <button class="btn custom-slctbtn rounded-pill">Select</button>
                                </div>
                                <div class="custom-fvpdt col-sm-12 w-100 d-flex align-items-center justify-content-center flex-column">
                                    <div class="spProfile mb-3 rounded-circle d-flex align-items-center justify-content-center">
                                        <img src="~/img/undraw_profile_pic_ic5t.png" style="width:70px;">
                                    </div>
                                    <p class="mb-3">Fifth</p>
                                    <button class="btn custom-slctbtn rounded-pill">Select</button>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="rounded-pill custom-gnbtn1 my-2 text-light" id="btnAddressCompleted">
                                Continue
                            </button>
                        </div>
                    </div>
                    <!-- --------------- payment --------------  -->
                    <div class="tab-pane fade" role="tabpanel" id="makePaymentTab"
                         aria-labelledby="makePayment">
                        <p class="font-weight-bold" style="color: grey;">
                            Pay securely with Helperland payment
                            gateway!
                        </p>
                        <p>Promo code (optional)</p>
                        <div class="">
                            <div class="form-group mx-sm-1 mb-2">
                                <label for="inputPassword2" class="sr-only">Promocode</label>
                                <input type="password" style="width: 800px;" class="form-control col-sm-4"
                                       id="inputPassword2" placeholder="Promo code (optional)">
                            </div>
                            <button type="button"
                                    class="d-inline ml-2 mb-2 rounded-pill custom-nadbtn p-2" disabled>
                                Apply
                            </button>
                        </div>
                        <hr>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="cc-number" class="control-label">Card number</label>
                                <input id="cr_no" name="cc-number" type="tel"
                                       class="form-control cc-number identified visa" value="" data-val="true"
                                       placeholder="0000-0000-0000-0000" minlength="19" maxlength="19">
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="cc-exp" class="control-label">Expiration</label>
                                    <input id="exp" name="cc-exp" type="tel" class="form-control cc-exp"
                                           value="" data-val="true"
                                           data-val-required="Please enter the card expiration"
                                           data-val-cc-exp="Please enter a valid month and year"
                                           placeholder="MM / YY" autocomplete="cc-exp" minlength="5"
                                           maxlength="5">
                                    <span class="help-block" data-valmsg-for="cc-exp"
                                          data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="col-3">
                                <label for="x_card_code" class="control-label">CVV</label>
                                <div class="input-group">
                                    <input id="x_card_code" name="x_card_code" type="password"
                                           class="form-control cc-cvc" value="" data-val="true"
                                           data-val-required="Please enter the security code"
                                           data-val-cc-cvc="Please enter a valid security code"
                                           autocomplete="off" minlength="3" maxlength="3"
                                           placeholder="&#9679;&#9679;&#9679;">
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <div class="d-block"><small>Accepted Cards</small></div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div>
                                <i class="fa fa-cc-visa" style="color:navy;"></i>
                                <i class="fa fa-cc-amex" style="color:blue;"></i>
                                <i class="fa fa-cc-mastercard" style="color:red;"></i>
                                <i class="fa fa-cc-discover" style="color:orange;"></i>
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex align-items-center">
                            <input type="checkbox" name="acceptterms" id="acceptterms" required>
                            <label for="acceptterms" class="ms-4 mt-4">
                                I accept <a href="" class="custom-clr">terms and conditions</a>,<a href=""
                                                                                                   class="custom-clr"> the cancellation policy</a> and the <a href=""
                                                                                                                                                              class="custom-clr">privacy policy</a>. I confirm that Helperland starts
                                to
                                execute the contract before the expiry of the withdrawal period and I lose
                                my right of withdrawal as a consumer with full performance of the contract.
                            </label>
                        </div>
                        <hr class="mt-3 mb-3 lne">
                        <div class="d-flex justify-content-end">
                            <button type="button" id="btnCompleteBookService"
                                    class="custom-gnbtn2 my-2 text-light rounded-pill fw-bolder justify-content-end">
                                Complete Booking
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ............................Payment Summary........................... -->
        <div class="col-3" id="bookService_Right">
            <div class="parts">
                <div class="custom-pys">
                    <h3 class="custom-pyhdr"> Payment Summary</h3>
                    <div class="custom-pad custom-borbot">
                        <div>
                            <p class="text-black" id="msgDateSelected"></p>
                            <p class="mb-0 fw-bold">Duration</p>
                            <div class="d-flex justify-content-between">
                                <p class="mb-0">Basic</p>
                                <p class="mb-0">3 Hrs</p>
                            </div>
                            <hr>
                            <table class="w-100" id="extraTable">
                                <thead>
                                    <tr>
                                        <td class="fw-bold">Extras</td>
                                        <td width="60px"></td>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <hr>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="mb-0 fw-bold">Total Service Time</p>
                            <p class="mb-0 fw-bold"><span id="totalService">3</span>&nbsp;hours</p>
                        </div>
                    </div>
                    <div class="custom-borbot d-flex justify-content-between custom-pad">
                        <p class="mb-0">Per cleaning</p>
                        <p class="mb-0 fw-bold"><span id="clean">54</span>&nbsp;€</p>
                    </div>
                    <div class="custom-pad">
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="custom-totpmt mb-0">Total Payment</p>
                            <p class="custom-lgpy mb-0"><span id="totalPay">54</span>&nbsp;€</p>
                        </div>
                        <p class="mb-0 custom-smsz pt-1">According to 19 UStG no sales tax is calculated.</p>
                        <div class="d-flex justify-content-between mt-2 mb-2">
                            <p class="custom-totpmt mb-0">Effective Price</p>
                            <p class="mb-0 fw-bold" id="effect"><span id="EffectivePay"> 54 </span> €</p>
                        </div>
                        <p class="mb-0 custom-smsz">
                            <span style="color:red" ;>*</span>You will save 20%
                            according
                            to 35a EStG.
                        </p>
                    </div>
                    <div class="custom-pad custom-pbtm">
                        <a href="" class="text-decoration-none">
                            <span style="font-size: 30px">&#9787;</span>&nbsp;See what is always included
                        </a>
                    </div>
                </div>
            </div>
            <div class="custom-fqpg custom-clscn mt-4">
                <h4 class="text-center">Questions?</h4>
                <div class="accordion position-relative w-100" id="accordionCustomer">
                    <div class="accordion-item border-0 border-bottom">
                        <div class="accordion-header d-flex align-items-center" id="headingOne">
                            <button class="accordion-button btn collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false"
                                    aria-controls="collapseOne">
                            </button>
                            <p class="mb-0 ms-3">What's included in a cleaning?</p>
                        </div>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                             data-bs-parent="#accordionCustomer">
                            <div class="accordion-body fw-bold">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius accusamus
                                adipisci quidem, quaerat, velit impedit minus distinctio, laboriosam error
                                itaque corrupti numquam? Blanditiis, aliquam iste?
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border-0 border-bottom">
                        <div class="accordion-header d-flex align-items-center" id="headingTwo">
                            <button class="accordion-button btn collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseOne">
                            </button>
                            <p class="mb-0 ms-3">Which Helperland professional will come to my place?</p>
                        </div>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                             data-bs-parent="#accordionCustomer">
                            <div class="accordion-body fw-bold">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, adipisci.
                                Dignissimos, libero. Quas et voluptate voluptas unde doloremque magnam iusto
                                corporis praesentium cupiditate? Quo, accusamus et ratione quis dolor quibusdam
                                quam consequatur nisi corrupti, blanditiis, ea labore. Magni eaque a, officiis
                                eum laborum id minus, quam ducimus consequatur quibusdam enim!
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border-0 border-bottom">
                        <div class="accordion-header d-flex align-items-center" id="headingThree">
                            <button class="accordion-button btn collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                            </button>
                            <p class="mb-0 ms-3">Can I skip or reschedule bookings?</p>
                        </div>
                        <div id="collapseThree" class="accordion-collapse collapse"
                             aria-labelledby="headingThree" data-bs-parent="#accordionCustomer">
                            <div class="accordion-body fw-bold">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum itaque nam hic
                                quibusdam aut, consequuntur cupiditate odit iste accusamus repellendus est non,
                                corporis iusto omnis illum, veritatis aperiam placeat vitae!
                            </div>
                        </div>
                    </div>
                </div>
                <a href="faq.html" class="fw-bold custom-gtfq text-decoration-none"> For more help</a>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="successModal" aria-hidden="true" aria-labelledby="successModalLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="custom-cmplbk rounded-circle mb-3">
                    <img src="~/img/ic-check.png" alt="" height="23" width="23">
                </div>
                <div class="text-center">
                    <h4 class="mb-2">Booking submitted successfully</h4>
                    <p id="txtServiceID">Service id: 1234</p>
                </div>
                <div class="text-center">
                    <button type="button" class="btn custom-gnbtn text-white rounded-pill"
                            data-bs-dismiss="modal" aria-label="Close" style="min-width: 60px;">
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">

</script>
<script>
    $(document).ready(function () {
        $(".tog").click(function () {
            $('img', this).toggle();
        });

        var i, hrs = 3, price = 54;
        //var price;
        var hourrs;

        $('#dropdownHours').on("change", function () {
            hrs = parseFloat($(this).val(), 10);
            $("#totalService").text(hrs);
            price = hourrs * 18;
            $("#totalPay").text(price);
            $("#EffectivePay").text(price);
        });

        $('#cabinet').change(function () {
            if (this.checked) {
                extraTableBody = $("#extraTable tbody");
                extraTableBody.append("<tr id='cabinetRow'><td>Clean cabinet interiors</td><td>30 mins</td></tr>");
                hrs = hrs + 0.5;
                $("#totalService").html(hrs);
                price = price + 9;
                $("#clean").html(price);
                $("#totalPay").html(price);
                $("#EffectivePay").html(price)
            } else {
                hrs = hrs - 0.5;
                price = price - 9;
                $("#clean").html(price);
                $("#totalService").html(hrs);
                $("#cabinetRow").remove();
                $("#totalPay").html(price);
                $("#EffectivePay").html(price)
            }

        });

        $('#refrigerator').change(function () {
            if (this.checked) {
                extraTableBody = $("#extraTable tbody");
                extraTableBody.append("<tr id='refrigeratorRow'><td>Cleaning the refrigerator</td><td>30 mins</td></tr>");
                hrs = hrs + 0.5;
                $("#totalService").html(hrs);
                price = price + 9;
                $("#clean").html(price);
                $("#totalPay").html(price);
                $("#EffectivePay").html(price)
            } else {
                $("#refrigeratorRow").remove();
                hrs = hrs - 0.5;
                $("#totalService").html(hrs);
                price = price - 9;
                $("#clean").html(price);
                $("#totalPay").html(price);
                $("#EffectivePay").html(price)
            }

        });

        $('#oven').change(function () {
            if (this.checked) {
                extraTableBody = $("#extraTable tbody");
                extraTableBody.append("<tr id='ovenRow'><td>Cleaning the oven</td><td>30 mins</td></tr>");
                hrs = hrs + 0.5;
                $("#totalService").html(hrs);
                price = price + 9;
                $("#clean").html(price);
                $("#totalPay").html(price);
                $("#EffectivePay").html(price)
            } else if (!this.checked) {
                $("#ovenRow").remove();
                hrs = hrs - 0.5;
                $("#totalService").html(hrs);
                price = price - 9;
                $("#clean").html(price);
                $("#totalPay").html(price);
                $("#EffectivePay").html(price)
            }

        });

        $('#laundry').change(function () {
            if (this.checked) {
                extraTableBody = $("#extraTable tbody");
                extraTableBody.append("<tr id='laundryRow'><td>Wash and dry laundry</td><td>30 mins</td></tr>");
                hrs = hrs + 0.5;
                $("#totalService").html(hrs);
                price = price + 9;
                $("#clean").html(price);
                $("#totalPay").html(price);
                $("#EffectivePay").html(price)
            } else if (!this.checked) {
                $("#laundryRow").remove();
                hrs = hrs - 0.5;
                $("#totalService").html(hrs);
                price = price - 9;
                $("#clean").html(price);
                $("#totalPay").html(price);
                $("#EffectivePay").html(price)
            }
        });

        $('#windows').change(function () {
            if (this.checked) {
                extraTableBody = $("#extraTable tbody");
                extraTableBody.append("<tr id='windowsRow'><td>Clean windows</td><td>30 mins</td></tr>");
                hrs = hrs + 0.5;
                $("#totalService").html(hrs);
                price = price + 9;
                $("#clean").html(price);
                $("#totalPay").html(price);
                $("#EffectivePay").html(price)
            } else if (!this.checked) {
                $("#windowsRow").remove();
                hrs = hrs - 0.5;
                $("#totalService").html(hrs);
                price = price - 9;
                $("#clean").html(price);
                $("#totalPay").html(price);
                $("#EffectivePay").html(price)
            }
        });

        $(document).ready(function () {
            $(document).click(function (event) {
                var clickover = $(event.target);
                var _opened = $(".navbar-collapse").hasClass("show");
                if (_opened === true && !clickover.hasClass("navbar-toggler")) {
                    $(".navbar-toggler").click();
                }
            });
        });




        var dateSelected;
        var timeSelected;
        var selectedExtraServices = [];
        var comment;
        $("#btnCheckPostalCode").on("click", function () {
            var data = $("#txtPostalCode").val();
            if (data.length != 6) {
                $("#errMsgPincode").text("Enter 6 digit valid code");

            }
            else if (!$.isNumeric(data)) {
                $("#errMsgPincode").text("Enter Number only");
            }
            else {
                    $.ajax({
                    type: "POST",
                    url: "@Url.Action("CheckPincode")",
                    data: { "Pincode": $("#txtPostalCode").val() },
                    success: function (response) {
                    if (response) {
                        $("#schedulePlanTabController").prop("disabled", false);
                        document.getElementById("schedulePlanTabController").click();
                        getAddress();
                    }
                    else {
                            if (!response) {
                                $("#errMsgPincode").text("Service is not available your place");
                            }
                            else {
                                $("#errMsgPincode").text(response);
                            }
                        }
                    },
                    failure: function (response) {
                        alert("failure");
                    }
                });
                }
        })

        $("#datepicker").on("change", function () {

            dateSelected = $(this).val();
            timeSelected = $("#dropdownTime").val();
            $("#msgDateSelected").text(dateSelected + " " + timeSelected);
        });

        $("#dropdownTime").on("change", function () {
            timeSelected = $(this).val();
            dateSelected = $(datepicker).val();
            $("#msgDateSelected").text(dateSelected + " " + timeSelected);
        });

        $("#btnScheduleAndPlan").on("click", function () {
            if (dateSelected == null) {
                $("#errMsgSelectDate").text("❌ Select date ").delay(3000);
            }
            else
            {
                $(':checkbox:checked').each(function (i) {
                    selectedExtraServices[i] = $(this).val();
                });

                comment = $("#txtAreaComments").val();
                var strUserID = parseInt($("#userID").val());
                if (strUserID == "") {
                    showLoginModel();
                    return;
                }
                else {
                    $("#yourDetailsTabController").prop("disabled", false);
                    document.getElementById("yourDetailsTabController").click();
                    $("#txtAddressPostalCode").val();
                }
            }
        });

        $("#btnAddNewAddress").on("click", function () {
            var check = false;
            if ($("#txtAddAddressLine1").val() == "") {
                $("#errtxtAddressLine1").text("Enter Street");
                check = true;
            }
            if ($("#txtAddAddressLine2").val() == "") {
                $("#errtxtAddressLine2").text("Enter House Number");
                check = true;
            }
            if ($("#dropdownCityList").val() == -1) {
                $("#errSelectCity").text("Select City");
                check = true;
            }
            if ($("#txtPhoneNumber").val() == "") {
                $("#errtxtPhoneNumber").text("Enter Phone number");
                check = true;
            }
            if (check) {
                return;
            }

            addAddress();

        })

        $("#btnAddressCompleted").on("click", function () {
            $('.radioButtons').each(function () {
                if ($(this).find('input[type="radio"]:checked').length > 0) {
                    $("#makePaymentTabController").prop("disabled", false);
                    document.getElementById("makePaymentTabController").click();
                    addServiceRequestAddress();
                }
                else {
                    $("#errAddressNotSelected").text("Select Address or Add new address !!");
                }
            });

        });

        $("#btnCompleteBookService").click(function () {
            console.log("Button Click !!!");
            var bookServiceViewModel = {};
            bookServiceViewModel.AddressId = $("input[type=radio][name=address]:checked").attr('id');
            bookServiceViewModel.UserId = $('#userID').val();
            bookServiceViewModel.ServiceStartDate = $('#datepicker').val();
            bookServiceViewModel.ZipCode = $('#txtPostalCode').val();
            bookServiceViewModel.ServiceHours = parseFloat($('#dropdownHours').val());
            bookServiceViewModel.SubTotal = parseFloat($('#totalPay').text());
            bookServiceViewModel.Comments = $("#txtAreaComments").val();
            bookServiceViewModel.TotalCost = parseFloat($('#EffectivePay').text());
            bookServiceViewModel.HasPets = $('#chkbxPets').is(':checked');
            bookServiceViewModel.Email = $('#userEmail').val();
            bookServiceViewModel.ExtraHours = parseFloat($("#totalService").text() - hrs);

            var objSuccess = JSON.stringify(bookServiceViewModel);
            console.log(objSuccess);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ServiceSchedule")',
                data: bookServiceViewModel,
                success: function (response) {
                    console.log(response);

                    if (response > 0) {
                        $("#txtServiceID").text(response);
                        $("#successModal").modal("show");
                    }
                    else if (response == -1) {
                        alert("Something went wrong");
                    }
                    },
                error: function (err) {
                        alert('error ' + err.text);
                    }
                });
        });

        function addAddress() {
            var data = $("#txtPostalCode").val();
            $("#txtAddressPostalCode").text(" " + data);
            var address = {};
            address.userId = parseInt($("#userID").val());
            address.AddressLine1 = $("#txtAddAddressLine1").val();
            address.AddressLine2 = $("#txtAddAddressLine2").val();
            address.cityId = parseInt($("#dropdownCityList").val());
            address.PostalCode = $("#txtPostalCode").val();
            address.Mobile = $("#txtPhoneNumber").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("AddAddress")",
                data: address,
                success: function (response) {
                    if (response) {
                        $("#newAddressCollapse").hide();
                        getAddress();
                    }
                },
                failure: function (response) {
                    alert("failure");
                },
                error: function (response) {
                    alert("Something went Wrong!!");
                }
            });
        }

        function getAddress() {
            $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetAddress")",
                    data: { "userID": $("#userID").val() },
                    success: function (response) {
                        var obj = JSON.parse(response);
                        $("#showAddress").empty();
                        for (var i = 0; i < obj.length; i++) {
                            $("#showAddress").append(' <li class= "custom-yadt px-3 py-2 my-2" > <label class="d-flex align-items-center"><input type="radio" id="' + obj[i].AddressId + '" name="address"><div class="ms-4"><p class="mb-1"> <b style = "color: grey;" > Address:</b >' + obj[i].AddressLine1 + ' , ' + obj[i].AddressLine2 + '</p> <p class="mb-1"><b style="color: grey;">Phone number:</b>' + obj[i].Mobile + '</p></div></label></li>');
                        }
                    },
                    failure: function (response) {
                        alert("failure");
                    }
                });
        }

        function showLoginModel() {
            $('#LoginModel').modal('show');
        }


    });

</script>

<script type="text/javascript">
    $(document).ready(function () {

        //For Card Number formatted input
        var cardNum = document.getElementById('cr_no');
        cardNum.onkeyup = function (e) {
            if (this.value == this.lastValue) return;
            var caretPosition = this.selectionStart;
            var sanitizedValue = this.value.replace(/[^0-9]/gi, '');
            var parts = [];

            for (var i = 0, len = sanitizedValue.length; i < len; i += 4) { parts.push(sanitizedValue.substring(i, i + 4)); }
            for (var i = caretPosition - 1; i >= 0; i--) {
                var c = this.value[i];
                if (c < '0' || c > '9') {
                    caretPosition--;
                }
            }
            caretPosition += Math.floor(caretPosition / 4);

            this.value = this.lastValue = parts.join('-');
            this.selectionStart = this.selectionEnd = caretPosition;
        }

        //For Date formatted input
        var expDate = document.getElementById('exp');
        expDate.onkeyup = function (e) {
            if (this.value == this.lastValue) return;
            var caretPosition = this.selectionStart;
            var sanitizedValue = this.value.replace(/[^0-9]/gi, '');
            var parts = [];

            for (var i = 0, len = sanitizedValue.length; i < len; i += 2) { parts.push(sanitizedValue.substring(i, i + 2)); }
            for (var i = caretPosition - 1; i >= 0; i--) {
                var c = this.value[i];
                if (c < '0' || c > '9') {
                    caretPosition--;
                }
            }
            caretPosition += Math.floor(caretPosition / 2);

            this.value = this.lastValue = parts.join('/');
            this.selectionStart = this.selectionEnd = caretPosition;
        }

        // Radio button
        $('.radio-group .radio').click(function () {
            $(this).parent().find('.radio').removeClass('selected');
            $(this).addClass('selected');
        });
    })
</script>




