@{
    ViewData["Title"] = "Customer Dashboard";
    Layout = "~/Views/Shared/_LayoutServiceProvider.cshtml";
}
@using Microsoft.AspNetCore.Http

@model List<Helperland.Models.ViewModel.NewServiceRequestViewModel>
<span class="d-none" id="userID" value="@Context.Session.GetInt32("userID")"></span>
<span class="d-none" id="userEmail" value="@Context.Session.GetString("userEmail")"></span>

<div class="col-md-9">
    <div class="alert alert-success d-none" role="alert" id="alertSuccessMessage">
        Request Accepted Successfully.
    </div>
    <div class="alert alert-danger d-none" role="alert" id="alertErrorMessage"></div>
    <div class="row">
        @{ bool haspets = ViewBag.hasPets; }
    </div>
    <div class="row">
        <input type="hidden" value="@haspets" id="txtHiddenHaspate" />
        <div class="col-md-2">
            <form method="get" asp-action="NewServiceRquest" asp-controller="ServiceProvider">
                <input type="checkbox" name="hasPate" id="cbHaspate" /> <span class="font-bold">Pate at a Home </span>
            </form>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-md-12 table-responsive">
            <table id="tbleNewServiceRequest" class="table">
                <thead>
                    <tr>
                        <td>Service Id </td>
                        <td>Service Date </td>
                        <td>Customer Details </td>
                        <td>Payment</td>
                        <td> Action</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td onclick="OpenModel(@item.ServiceRequestID)"> @item.ServiceRequestID </td>
                            <td class="flex" onclick="OpenModel(@item.ServiceRequestID)">
                                <div><img src="/image/calendar2.png" asp-append-version="true"><b> @item.ServicestarDate</b> </div>
                                8.:00 - 12:00
                            </td>
                            <td onclick="OpenModel(@item.ServiceRequestID)">

                                <div class="d-flex">
                                    <div class="center"><img src="/image/layer-15.png"></div>
                                    <div>
                                        <span class="d-block"> @item.CustomerName </span>
                                        <span class="d-block"> @item.Addressline1 </span>
                                        <span class="d-block"> @item.Addressline2 </span>

                                    </div>

                                </div>


                            </td>
                            <td class="active-font" onclick="OpenModel(@item.ServiceRequestID)">
                                <div> <b> @item.Payment  €</b> </div>
                            </td>
                            <td>

                                <button class="btn btn-success btn-sm font-white rounded-pill m-2" ata-bs-toggle="modal" data-bs-target="#ServiceDeatils" onclick="AcceptRequest(@item.ServiceRequestID)">Accept</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--#region Modal Service Details -->
<div class="modal fade" id="ServiceDeatils" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Service Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" id="ModelMainDiv">
                        <div>
                            <span id="ModelServiceDate" class="font-bold h5"></span> 8:00 - 13:00<br />
                            <span class="font-bold"> Duration </span><span id="ModelDuration"> </span> Hrs
                        </div>
                        <hr />
                        <div>
                            <span class="font-bold"> Service Id: </span><span id="ModelServiceRequestId"> </span>.<br />
                            <span class="font-bold"> Extras </span> <span id="ModelExtra"></span><br />
                            <span class="font-bold"> Net Amount: </span> <span id="ModelTotalCost" class="font-blue font-bold"></span> €<br />
                        </div>
                        <hr />
                        <div>
                            <span class="font-bold">Customer Name: </span><span id="ModelCustomerName"> </span><br />
                            <span class="font-bold"> Service Address :-  </span><span id="ModelServiceAddress"> </span>.

                        </div>
                        <hr />
                        <div>
                            <span class="font-bold"> Comments </span> <br /> <span id="ModelComments"> </span>
                        </div>
                        <hr />
                        <span> <img src="/image/not-included.png" id="ModelHasPatImage" /> I <span id="ModelHasPat">  don't </span>  have Pate at Home</span>
                        <hr />
                        <button class="btn btn-success font-white rounded-pill m-2" id="ModelbtnAccept" value="" onclick="AcceptRequest(this.value)">Accept </button>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--#endregion Modal Service Details -->
<!--#region Script-->
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>

<script>
    function ReloadPage() {
        location.reload();
    }
        $(document).ready(function () {
            let cb = $("#txtHiddenHaspate").val();
            if (cb) {
                $('#cbHaspate').prop('checked', true);
            }
            else {
                $('#cbHaspate').prop('checked', false);
            }
            $('#cbHaspate').change(function () {
                $(this).closest('form').submit();
            });

           /* Apply Data Table*/
            $('#tbleNewServiceRequest').dataTable({
                "bFilter": false,
                "bInfo": false,
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': [-1]
                }]
            });

        });

           /*   Open Service Details Model on Click of Table Row*/
        function OpenModel(para) {
            $("#ServiceDeatils").modal('show');
            $("#ModelServiceRequestId").text(para);
            $("#ModelbtnAccept").val(para);
        $.ajax({
                  type: "POST",
            url: "@Url.Action("GetServiceRequestData")",
            data: { "ServiceReqestId": para },
                 success: function (responce) {
                     var obj = JSON.parse(responce);
                     $("#ModelDuration").text(obj.TotalHour);
                     $("#ModelServiceDate").text(obj.ServiceDate);
                     $("#ModelExtra").text(obj.Extra);
                     $("#ModelTotalCost").text(obj.TotalCost);
                     $("#ModelServiceAddress").text(obj.Address);
                     $("#ModelCustomerName").text(obj.CustomerName);
                     $("#ModelComments").text(obj.Comments);
                     if (obj.Haspet) {
                         $("#ModelHasPatImage").attr("src", "/image/included.png");
                         $("#ModelHasPat").hide();
                     } else {
                         $("#ModelHasPatImage").attr("src", "/image/not-included.png");
                         $("#ModelHasPat").show();
                     }


                 },
                 failure: function (response) {
                        alert("failure");
                 },
                 error: function (response) {
                        alert("Something went Worng");
                 }

              });
        }

        function AcceptRequest(para) {
            $("#ServiceDeatils").modal('hide');
             $.ajax({
                  type: "POST",
            url: "@Url.Action("AcceptServiceRequest")",
                 data: { "serviceRequeestId": para },
                 success: function (responce) {

                     if (responce == "true") {

                         $("#alertSuccessMessage").show().fadeOut(8000);
                         setTimeout(ReloadPage, 3000);

                     } else {
                         $("#alertErrorMessage").show().text(responce).fadeOut(10000);
                     }


                 },
                 failure: function (response) {
                        alert("failure");
                 },
                 error: function (response) {
                        alert("Something went Worng");
                 }

              });
        }
        

</script>

<!--#endregion Script-->